@font-face {
    font-family: 'spartan';
    src: url('/public/fonts/Spartan-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'spartan';
    src: url('/public/fonts/Spartan-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'antonio';
    src: url('/public/fonts/Antonio-VariableFont_wght.ttf');
}

:root{
    --spartan: 'spartan';
    --antonio: 'antonio';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 0
}

* {
    box-sizing: border-box;
    transition: all 0.2s linear;
}

body{
    min-height: 100vh;
    margin: 0px;
    background-color: #070724;
    background-image: url('./images/background-stars.svg');
    background-position: center;
    background-size: contain;
}

body::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    content: 
        url('/public/images/planet-earth-internal.svg')
        url('/public/images/planet-earth.svg')
        url('/public/images/planet-jupiter-internal.svg')
        url('/public/images/planet-jupiter.svg')
        url('/public/images/planet-mars-internal.svg')
        url('/public/images/planet-mars.svg')
        url('/public/images/planet-mercury-internal.svg')
        url('/public/images/planet-mercury.svg')
        url('/public/images/planet-neptune-internal.svg')
        url('/public/images/planet-neptune.svg')
        url('/public/images/planet-saturn-internal.svg')
        url('/public/images/planet-saturn.svg')
        url('/public/images/planet-venus-internal.svg')
        url('/public/images/planet-venus.svg')
        url('/public/images/planet-uranus-internal.svg')
        url('/public/images/planet-uranus.svg')
}